* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  max-width: 576px;
}

/* assets */
.btn {
  display: flex;
  gap: 1em;
  padding: 0.5em 2em;
  border-radius: 15px;
  border: transparent;
}

.btn-blue {
  background-color: #0084fd;
  color: white;
}

.btn-purple {
  background-color: #9792e4;
  color: white;
  padding: 0.6em 3em;
}

.linkedin {
  padding: 0.6em 1em;
}

.get-started {
  color: #9792e4;
  padding: 1em 3em;
  border-radius: 20px;
}

/* /assets */

/* navbar */
nav {
  background-color: #0084fd;
}

.nav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 1em 2em;
}

.menu-links {
  display: none;
}

.fa-bars {
  font-size: 1.5em;
}
/* /navbar */


/* section 1 */
.s1 {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 2em 0;
}

.s1-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  background-color: #b5ddff;
  border-radius: 20px;
  margin: 1em 2em;
}

.s1-col-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 2em 1em 1em 1em;
}

.s1-col-text h1 {
  color: #0084fd;
  font-size: 1.3em;
}

.s1-col-text p {
  text-align: center;
}

.s1-col-text .fa-solid {
  color: #0084fd;
  font-size: 5em;
}

.s1-col-img img {
  width: 70%;
}

.s1-col-img {
  display: flex;
  justify-content: center;  
}

/* prima colonna */
  
.s1-first-col {
  align-items: flex-start;
}

.s1-first-col p {
  text-align: left;
}


/* /prima colonna */

/* /section1 */

/* section2 */
.s2 {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 4em 0;
  background-color: #9792e4;
}

 
.s2-left-col {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em 2em;
  color: white;
}

.s2-left-col-img img {
  width: 80%;
  padding: 2em 0;
}

.s2-left-col-img {
  display: flex;
  justify-content: center;
}

.s2-right-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  background-color: white;
  border-radius: 50px;
  margin: 0 2em 2em 2em;
  padding: 1em;
}

.s2-right-col img {
  width: 80%;
}

.s2-right-col .fa-arrow-down {
  font-size: 1.2em;
  background-color: #9792e4;
  border-radius: 50%;
  padding: 0.8em 0.81em;
}
  /* /section2 */

  /* section3 */

.s3 {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 4em 0;
}

.s3-text-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  text-align: center;
  padding: 1em 2em;
}

.s3-text-section h3 {
  font-size: 2em;
  color: #9792e4;
}

.s3-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  background-color: #9792e4;
  border-radius: 50px;
  margin: 1em 2em;
  padding: 1em;
}

.s3-col-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  margin-top: 2em;
}

.img1 {
  background-image: url('../img/testimonial1.jpg');
}

.img2 {
  background-image: url('../img/testimonial2.jpg');
}

.img3 {
  background-image: url('../img/testimonial3.jpg');
}

.s3-col-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  color: white;
  text-align: center;
  margin-bottom: 2em;
}

.s3-col-text strong {
  font-size: 1.2em;
}

.s3-col-text-paragraph p {
  display: inline;
}


.s3-col-text-paragraph .fa-solid {
  font-size: 1.5em;
}
/* /section3 */

/* section4 */
.s4 {
  padding: 4em 0;
  background-color: #9792e4;
}

.s4 h1 {
  text-align: center;
  color: white;
  font-size: 2em;
  margin-bottom: 1em;
}

.s4-inner {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.s4-inner h1 {
  text-align: left;
  color: #9792e4;
  font-size: 4em;
  margin-bottom: 0;
}

.s4-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  color: #9792e4;
  background-color: white;
  border-radius: 20px;
  padding: 1em;
  margin: 1em 2em;
}
/* /section4 */

/* section5 */
.s5 {
  padding: 4em 0;
}

.s5 h1 {
  color: #9792e4;
  font-size: 3em;
  margin-bottom: 1em;
}

.s5-left-section {
  padding: 2em;
}

.s5-right-section {
  position: relative;
  display: flex; 
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  padding: 2em;
  color: #9792e4;
}

.s5-right-section img {
  width: 60%;
  border-radius: 50%;
}

.s5-right-section .fa-quote-left {
  font-size: 5em;
  position: absolute;
  left: 45%;
}
/* /section 5 */

/* section6 */

.s6 {
  padding: 4em 2em;
  text-align: center;
  background-color: #9792e4;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.s6 h1 {
  color: #fdc15f;
  font-size: 4em;
}

.s6 span:first-child {
  font-weight: 300;
}

.s6 span:last-child {
  text-decoration: underline;
}

/* /section6 */

/* footer */
footer {
  padding: 4em 2em;
  background-color: #333333;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6em;
}

footer span {
  text-decoration: underline;
  color: #9792e4;
}

/* /footer */